<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnableDriveTypeCDRom" value="False"/>
    <add key="EnableDriveTypeFixed" value="True"/>
    <add key="EnableDriveTypeNetwork" value="False"/>
    <add key="EnableDriveTypeNoRootDirectory" value="False"/>
    <add key="EnableDriveTypeRam" value="False"/>
    <add key="EnableDriveTypeRemovable" value="True"/>
    <add key="EnableDriveTypeUnknown" value="False"/>
    <add key="KeepAliveInterval" value="60"/>   
  </appSettings>
</configuration>